.header {
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #d0d0d0;

&__search-area {
  background: #f0efee;
  margin-right: 6rem;
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

}
